footer {
  background-color: var(--terracotta);
  /*Test*/
  transition: max-height 0.4s ease;
  overflow: hidden;
  /* Test Ende */
}

footer.expanded {
  max-height: 150000px;
}

.footer-container {
  padding: 96px 32px 120px 64px;
  display: flex;
  gap: 96px;
}

.footer-container > div {
  width: 50%;
}

footer button {
  background-color: transparent;
  border: none;
  color: var(--background);
  font-family: "Fira Code", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 110%;
  margin-bottom: 12px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer button span:nth-of-type(1) {
  text-decoration: underline;
  font-size: 20px;
}

footer button .arrow {
  font-size: 20px;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(-90deg);
}

footer .text-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

footer .text-container.show {
  opacity: 1;
}

footer p {
  color: var(--background);
  margin-top: 32px;
}

@media only screen and (max-width: 960px) {
  .footer-container {
    gap: 32px;
    flex-wrap: wrap;
    padding: 64px 32px 120px;
  }

  .footer-container > div {
    width: 100%;
  }
}
